@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fredoka One', cursive;
    color: #333333;
    margin-bottom: 20px;
}

h2 {
    color: #333333;
    text-transform: uppercase;
}

body, p, span {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 120%;
    line-height: 1.5;
    color: #444444;
}

a {
    color: #3d67c5;
    text-decoration: underline;
    font-weight: 700;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

/*
.col-12 {
    border: 1px solid #cc0000;
}
*/

/*
NAVBAR
*/

.site-navbar {
    background: #2359d4 !important;
    border-bottom: 10px solid #2c55b1;
}

.site-navbar a {
    text-decoration: none;
}

.navbar-logo {
    font-family: 'Lobster', cursive !important;
    font-size: 180%;
    text-shadow: 3px 3px #304f95;
}

.navbar-item-bold {
    font-weight: 700;
    text-transform: uppercase;
}

/*
HEADER
*/

header {
    padding: 80px 0 80px 0;
    margin-bottom: 80px;
    border-bottom: 3px dotted #dedede;
}

header .hd-photo {
    margin-bottom: 20px;
    text-align: center !important;/* Forced */
}

header .img-border {
    border: 20px solid #eeeeee;
    box-shadow: 20px 20px #e71691;
    width: 80%;
}

header h1 {
    margin-top: 20px;
    font-size: 260%;
    line-height: 1.2;
}

header .h1-desr {
    display: block;
    font-weight: 200;
    font-size: 180%;
    line-height: 1.3;
    color: #666666;
}

/*
CLIENT SECTION
*/

.client-section {
    padding: 0 0 80px 0;
    text-align: center;
}

.client-section h2 {
    font-size: 180%;
}

.client-section img {
    width: 80%;
    filter: grayscale(100%);
    opacity: 0.7;
}

.client-col {
    text-align: center;
    padding: 10px;
    margin: auto;
}

.client-btn {
    font-weight: 700;
    text-transform: uppercase;
}

/*
PORTFOLIO
*/

.sub-h2 {
    margin: 80px 0 40px 0;
    border-bottom: 1px dashed #dedede;
}

.portfolio-list {
    text-align: center;
}

.pt-img {
    padding: 10px;
    margin-bottom: 20px;
}

/*
CONTACT
*/

.contact-form {
    width: 50%;
    margin-bottom: 80px;
}

.contact-form label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}


/*
FOOTER
*/

footer {
    background: #333333;
    border-top: 10px solid #222222;
    padding: 30px 0 20px 0;
    text-align: center;
}

footer a {
    color: #6e98f8;
}

footer a:hover {
    color: #ffffff;
}

footer p {
    color: #dddddd;
    font-size: 50%;
    font-weight: 200;
    line-height: 2.0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons img {
    width: 25px;
    margin-left: 2px;
    margin-right: 2px;
}

/*
MOBILE
*/

@media only screen and (max-width: 600px) {

    header h1 {
        text-align: center;
        font-size: 240%;
    }

    header .h1-desr {
        text-align: center;
    }
    
    header .h1-desr a {
        display: block;
        margin-top: 20px;
    }

    .client-section img {
        width: 50%;
    }

    .contact-form {
        width: 100%;
    }

  }